<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temp Readings</title>
    <style>
        table {
            width: 80%;
            border: 1px black solid;
        }

        td {
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <a class="graph" href="http://127.0.0.1:5000/graph">
        127
    </a>
    <p></p>
    <a class="graph2" href="http://localhost:81/graph">
        81
    </a>
    <h1>Sensor Data</h1>
    <table>
        <tr>
            <th>Sensor</th>
            <th>Date & Time</th>
            <th>Temperature</th>
        </tr>
        {% for reading in readings %}
            <tr>
                <td>
                    {{ reading['sensor'] }}
                </td>
                <td>
                    {{ reading['datetime'] }}
                </td>
                <td>
                    {{ reading['temp'] }}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>